@charset "UTF-8";
/*
tudo que em HTML é id em CSS é #(só pode haver um elemento)
em HTML é class em CSS é . (Pode haver mais de um elemento)
se segural ALT e clicar em mais de yma palavra vc manipula as duas palavras.
*/

body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

h1{
    color: rgb(171, 5, 248);
}

h1#principal{
    text-align: center;
}

h2{
    color:rgb(171, 5, 248);
}
.basico{
    color:rgb(183, 57, 241) ;
    font-weight: bold;
}
.intermediario{
    color:rgb(191, 85, 240) ;
}
.avancado{
    color:rgb(200, 116, 240);
}