@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
    background-image: linear-gradient(to right, #474244,  #6b6668b0);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #444142b0; 
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #5F313F;
    text-align: center;
    text-shadow: 1px 1px 1px gray;
}

h2{
    color: #6e0505;
}

p{
    text-align: justify;
}